h1 {
	margin: 0;
	padding: 0;
}

.introTitle {
	display: flex;
	flex-direction: column;
	gap: 44px;
	margin-bottom: 120px;
	margin-top: 80px;
	max-width: 950px;

	position: relative;

	z-index: 2;
}

.introTitle > h1 {
	font-size: 118px;
	line-height: 100%;
	color: #F5F1EE;
}

.introTitle > a {
	font-family: 'Involve';
	font-size: 22px;
	line-height: 150%;
	letter-spacing: 0.1em;
	font-weight: 600;
	color: #F5F1EE;
	text-decoration: none;
	text-transform: uppercase;

	max-width: 272px;

	background: right no-repeat url(../../../assets/Intro/arrow.svg);

	z-index: 10;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 360px) {
	.introTitle {
		gap: 30px;
		margin-top: 64px;
	}

	.introTitle > h1 {
		font-size: 42px;
		line-height: 100%;
	}

	.introTitle > a {
		font-size: 18px;
		line-height: 150%;

		background: right no-repeat url(../../../assets/Intro/arrow.svg);
		background-position: 208px;
	}

}

@media (min-width: 415px) {
	.introTitle > h1 {
		font-size: 50px;
		line-height: 100%;
	}

	.introTitle > a {
		font-size: 18px;
		line-height: 150%;

		background: right no-repeat url(../../../assets/Intro/arrow.svg);
		background-position: 208px;
	}
}

@media (min-width: 685px) {
	.introTitle > h1 {
		font-size: 76px;
		line-height: 100%;
	}
}

@media (min-width: 768px) {
	.introTitle > h1 {
		font-size: 86px;
		line-height: 100%;
	}

	.introTitle > a {
		font-size: 22px;
		line-height: 150%;
		letter-spacing: 0.1em;

		max-width: 272px;

		background: right no-repeat url(../../../assets/Intro/arrow.svg);
	}
}

@media (min-width: 1440px) {
	.introTitle > h1 {
		font-size: 118px;
		line-height: 100%;
	}
}
