.needWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;

  margin-top: 248px;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

.title h2 {
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
}

.section1, .section2 {

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.orangeSection {
  text-align: center;
  font-size: 16px;

  padding: 10px;

  background-color: #FF4E27;

  border-radius: 11px;
}

.description1 {
  text-align: start;
  font-size: 14px;

  margin-right: auto;
}

.description2 {
  text-align: end;
  font-size: 14px;

  width: 200px;

  margin-left: auto;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  ANIMATION                                                  */
/*---------------------------------------------------------------------------------------------*/




/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {
  .list {
    max-width: 393px;
  }

  .section1 {
    margin-right: auto;
  }

  .section2 {
    margin-left: auto;
  }

  .description1, .description2 {
    width: 200px;
  }

  .section1:after{
    content: url("./../../assets/svg/cursor.svg");

    position: relative;
    top: -85px;
    left: 10px;
  }

  .section2:after{
    content: url("./../../assets/svg/cursor.svg");

    position: relative;
    top: -85px;
    left: 270px;
  }

}

@media (min-width: 720px) {
  .title h2 {
    margin-bottom: 20px;

    font-size: 64px;
  }

  .needWrapper {
    max-width: 1468px;

    margin-top: 196px;
    padding: 0 60px;
  }

  .orangeSection {
    font-size: 18px;
  }

}

@media (min-width: 1000px) {
  .needWrapper{
    padding: 0;
  }

}

@media (min-width: 1200px) {


}

@media (min-width: 1440px) {
  .needWrapper {
    margin-top: 50px;

    flex-direction: row;
  }

  .section2{
    order: -1;

    width: 344px;

    margin: 280px auto 0 0;

    animation: moveSection2 5s infinite alternate;

  }

  .section1{
    width: 393px;

    margin: 40px 0 0 5px;

    animation: moveSection1 5s infinite alternate;

  }

  .title h2 {
    margin-bottom: 20px;

    font-size: 70px;

    margin-top: 200px;
    width: 620px;

  }

  .title{
    position: relative;
  }

  @keyframes moveSection1 {
    0% {
      transform: translate(-20px, 20px);
    }
    100% {
      transform: translate(0, -20px);
    }
  }

  @keyframes moveSection2 {
    0% {
      transform: translate(0, -20px);
    }
    100% {
      transform: translate(20px, 20px);
    }
  }
}
