/* Контейнер для градиента */
/* Контейнер для градиентного круга */
.gradientContainer {
		position: absolute;
		top: 450px;
		left: -50px;
		width: 500px;
		height: 382px;
		background: radial-gradient(circle at 50% 40%, #e34717, #FFB800, #ffdc3e);
		background-size: 150% 150%;
		animation: gradientAnimation 5s ease infinite;
		filter: blur(100px);
		border-radius: 50%;
		transform: translate(-50%, -50%) scale(1.1, 1.2); /* Легкое вытяжение и центрирование */
		opacity: 1; /* Полная непрозрачность в центре */
    	z-index: 0;
}

@media (min-width: 768px) {
	.gradientContainer {
		top: 750px;
		left: -50px;
		width: 851px;
		height: 652px;
	}
}

@media (min-width: 1000px) {
	.gradientContainer {
		top: 850px;
		left: 150px;
		width: 876px;
		height: 933px;
		filter: blur(70px);
	}
}

@media (min-width: 1440px) {
	.gradientContainer {
		top: 80%;
		left: 20%;
	}
}

/* Анимация переливающегося градиента */
@keyframes gradientAnimation {
	0% {
			background-position: 0% 0%;
	}
	50% {
			background-position: 100% 100%;
	}
	100% {
			background-position: 0% 0%;
	}
}
