.torus {
	position: relative;
	width: 350px;
	height: 350px;
	left: 0;
}

@media (min-width: 768px) {
	.torus {
		width: 650px;
		height: 600px;
		top: 50%;
	}
}

@media (min-width: 1000px) {
	.torus > div {
		min-width: 350px;
		height: 700px;
		top: -20%;
	}
}

@media (min-width: 1200px) {
	.torus {
		position: absolute;
		top: 420px;
		left: 50%;
	}
}

@media (min-width: 1440px) {
	.torus {
		left: 53%;
	}
}
