.about {
  position: relative;
  top: -100px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 32px;
  min-width: 170px;
  min-height: 170px;
  margin-bottom: 200px;
}

.left__first,
.left__second,
.right__first,
.right__second,
.centerBall {
    position: absolute;
    left: auto;
    right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 56px 10px;
    min-width: 170px;
    min-height: 170px;
    max-width: 170px;
    max-height: 170px;
    text-wrap: wrap;
    text-align: center;
    line-height: 150%;
    font-size: 14px;
    font-weight: medium;
    background: center no-repeat url(../../assets/About/about__back.svg);
    background-size: cover;
    will-change: opacity, transform;
}

.centerBall {
  background: center no-repeat url(../../assets/About/centerBall.svg);
  background-size: cover;
}
