.byblikDesktop,
.byblikPlanshet,
.byblikMobile {
  display: none;
  position: relative;
  z-index: 1;
  margin-bottom: 350px;
}

.spline-watermark {
  display: none;
}

@media (min-width: 360px) {
  .byblikMobile {
    display: flex;
    height: 340px;
    width: 340px;
    top: -100px;
    /* top: 50px;
    left: auto;
    right: -50px; */
  }
}

@media (min-width: 768px) {
  .byblikMobile {
    display: none;
  }

  .byblikPlanshet {
    display: flex;
    height: 512px;
    margin-bottom: 300px;
    top: -100px;
  }

  .byblikPlanshet > div {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .byblikPlanshet {
    top: -300px;
  }
}

@media (min-width: 1440px) {
  .byblikPlanshet {
    display: none;
  }

  .byblikDesktop > div {
    display: flex;
    justify-content: flex-end;
  }

  .byblikDesktop {
    margin-bottom: 0;
    height: 600px;
    display: flex;
    top: -300px;
    left: 35%;
    right: auto;
  }
}
