.wrapper {
  margin-top: -300px;
}

@media (min-width: 900px) {
  margin-top: -700px;
}

.textAnimationContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAnimationContainerSecond {
  position: relative;
  top: -37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 400px;
}

.textAnimationContainer > p,
.textAnimationContainerSecond > h2 {
  text-align: center;
  padding: 0 10px;
  font-size: 20px;
}

.textAnimationContainerSecond > h2 {
  font-size: 20px;
  background: left no-repeat url(../../assets/About/plane.svg);
  background-position: 20% 100%;
  background-size: contain;
  width: 250px;
  margin-left: 30px;
}

.textAnimationContainer > p::after {
  color: orange;
}

@media (min-width: 768px) {
  .textAnimationContainer {
    margin-top: 300px;
  }

  .textAnimationContainer > p,
  .textAnimationContainerSecond > h2 {
    font-size: 30px;
    background-position: 10% 100%;
  }
}

@media (min-width: 1440px) {
  .textAnimationContainer {
    margin-top: -200px;
  }
}
