.titleTorus {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  background: center no-repeat url(../../assets/Intro/background.svg);
	overflow: hidden;

  margin: 0 0 472px;
  padding: 23px 75px 83px;
}

@media (min-width: 360px) {
  .intro {
    background: center no-repeat url(../../assets/Intro/background-360.svg);
    background-size: cover;

		margin: 0 0 150px;
		padding: 34px 10px 114px;
	}
}

@media (min-width: 768px) {
  .intro {
    background: center no-repeat url(../../assets/Intro/background-768.svg);
    background-size: cover;
		padding: 64px 32px 114px;
  }
}

@media (min-width: 1200px) {
  .intro {
    background: center no-repeat url(../../assets/Intro/background-1440.svg);
    background-size: cover;
  }
}

@media (min-width: 1440px) {
  .intro {
    background: center no-repeat url(../../assets/Intro/background.svg);
    background-size: contain;

    max-width: 1440px;
    margin: 0 auto 472px;
    padding: 83px 75px 259px;

  }

  .titleTorus {
    flex-direction: row;
    margin-bottom: 100px;
  }
}
