.footer {
  max-width: 1290px;
  width: 100%;
  padding: 0 10px 10px;
  margin: 0 auto;
}

.footerWrapper {
  background: linear-gradient(170deg, #E31717, #FFB800);
  border-radius: 30px;
  padding: 1px;
}

.footerContent {
  background-color: #0D0D0D;
  border-radius: 30px;

  padding: 44px 32px 52px 47px;

  display: flex;
  flex-direction: column;
  gap: 33px;

  font-size: 16px;
  color: #BABABA;
  text-decoration: none;
}

.email, .phone {
  font-size: 16px;
  color: #BABABA;
  text-decoration: none;
  text-align: right;
}

.footerCopyright {
  font-size: 14px;
}

.email:hover, .phone:hover, .footerCopyright:hover, .footerPolicy:hover  {
  background: #E31717;
  background: linear-gradient(to top left, #E31717 6%, #FFB800 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footerRow {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footerRow:last-child {
  align-items: end;
}

.footerRow div {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footerPolicy {
  font-size: 14px;
  text-decoration: underline;
  color: #858585;
}

/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 720px) {
  .footer {
    padding: 0 32px 30px;
  }
}

@media (min-width: 1250px) {
  .footer {
    padding: 0 75px 65px;
  }
}

@media (max-width: 450px) {
  .email, .phone {
    font-size: 10px;
  }

  .footerPolicy, .footerCopyright {
    font-size: 9px;
  }

  .footerContent {
    padding: 22px 16px 26px 23px;
  }
}
