.titleWrapper{
	position: relative;
	top: -50px;
}

.title {
	position: relative;
	width: max-content;

	font-size: 26px;
	font-weight: 600;
	line-height: 150%;

	color: #F5F1EE;

  will-change: opacity, transform;
}
@media (min-width: 480px) {

	.title {
		font-size: 30px;
	}
	.titleWrapper{
		margin-left: 20px;
	}

}

@media (min-width: 768px) {

	.title {
		font-size: 42px;
	}
	.titleWrapper{
		position: static;
	}
}

@media (min-width: 1050px) {

  .title {
		font-size: 56px;
  }
}

.title::after {
	content: url(../../assets/Map/logo.svg);
	width: 35px;
	height: 26px;

	position: absolute;
	right: -5px;
	top: 0;
}

@media (min-width: 768px) {

	.title::after {
		width: 71px;
		height: 53px;

		right: -20px;
		top: 5px;
	}
}

@media (min-width: 1050px) {

  .title::after {
		width: 79px;
		height: 58px;

		right: -10px;
		/*top: auto;*/
		bottom: 15px;
  }
}

.description {
	font-size: 14px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.01em;

  will-change: opacity, transform;
}

@media (min-width: 768px) {

	.description {
		font-size: 20px;
	}
}

@media (min-width: 1050px) {

  .description {
		font-size: 26px;
  }
}

.listItem {


	font-size: 7.79px;
	font-weight: 600;
	line-height: 150%;
}

@media (min-width: 768px) {

	.listItem {
		font-size: 12.87px;
	}
}

@media (min-width: 1050px) {

  .listItem {
		font-size: 20px;
  }
}

/*---------------------------------------------------------------------------------------------*/
/*                                  WRAPPER CONTRE MARGIN                                            */
/*---------------------------------------------------------------------------------------------*/

.wrapper {
	max-width: 1440px;
	width: 100%;


	padding: 0 10px 250px;

	display: flex;
	flex-direction: column;

	margin: 0 auto;

	background-image: url(../../assets/svg/countries.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


@media (min-width: 400px) {
  .wrapper {
    padding: 0 20px 300px;
  }
}
@media (min-width: 460px) {
	.wrapper {
		padding: 0 20px 350px;
	}
}

@media (min-width: 479px) {
	.wrapper {
		padding: 0 20px 400px;
	}
}

@media (min-width: 533px) {
  .wrapper {
    padding: 0 20px 450px;
  }
}
@media (min-width: 591px) {
	.wrapper {
		padding: 0 20px 470px;
	}
}
@media (min-width: 614px) {
	.wrapper {
		padding: 0 20px 490px;
	}
}
@media (min-width: 637px) {
	.wrapper {
		padding: 0 20px 510px;
	}
}
@media (min-width: 660px) {
	.wrapper {
		padding: 0 20px 530px;
	}
}
@media (min-width: 683px) {
	.wrapper {
		padding: 0 20px 550px;
	}
}
@media (min-width: 706px) {
	.wrapper {
		padding: 0 20px 600px;
	}
}

@media (min-width: 720px) {
  .wrapper {
    padding: 0 32px 600px;
  }
}

@media (min-width: 739px) {
	.wrapper {
		padding: 0 20px 620px;
	}
}
@media (min-width: 762px) {
	.wrapper {
		padding: 0 20px 640px;
	}
}
@media (min-width: 851px) {
	.wrapper {
		padding: 0 20px 660px;
	}
}
@media (min-width: 873px) {
	.wrapper {
		padding: 0 20px 680px;
	}
}
@media (min-width: 896px) {
	.wrapper {
		padding: 0 20px 700px;
	}
}
@media (min-width: 920px) {
	.wrapper {
		padding: 0 20px 720px;
	}
}
@media (min-width: 943px) {
	.wrapper {
		padding: 0 20px 740px;
	}
}
@media (min-width: 966px) {
	.wrapper {
		padding: 0 20px 760px;
	}
}




@media (min-width: 1000px) {
  .wrapper {
    padding: 0 32px 700px;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    padding: 0 75px 900px;
  }
}

@media (min-width: 1400px) {
	.wrapper {
		max-width: 1600px;
		padding: 0 10% 900px;

		background-image: url(../../assets/svg/countriesBig.svg);
		background-size: contain;
	}
}
