.container {
  background-color: #F5F1EE;


  padding: 10px;

  max-width: 850px;

  margin-left: auto;
  margin-right: auto;

  position: absolute;

  top: -450px;

  z-index: 100;

  border-radius: 20px;
}

.containerCase {
  min-width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.formWrapper {
  display: flex;
  flex-direction: column;

  /*padding: 56px 37px 28px 52px;*/

  color: #0D0D0D;
}

.wrapperClose {
  display: flex;
  justify-content: end;
}

.close {
  outline: none;
  border: none;

  background-color: #0D0D0DD9;

  width: 33px;
  height: 33px;

  border-radius: 50%;

  padding-top: 2px;

  margin-left: auto;
}

.formText {
  margin-bottom: 20px;
}

.formTextWant h2 {
  font-size: 25px;

  margin-bottom: 10px;
}

.spanWant {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 14px;
}


.formText h2 {
  font-size: 25px;

  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-weight: 600;
  font-size: 14px;
}

.formInput input {
  background-color: #EFEAE8;

  border: none;
  border-radius: 50px;

  padding: 11px 20px;
  height: 45px;
}

.formButton {
  outline: none;
  border: none;

  background: #FF4E27;

  padding: 11px 20px;

  color: #F5F1EE;

  font-size: 16px;
  line-height: 21.28px;

  border-radius: 65.14px;

  cursor: pointer;
}

.formButtonDisabled {
  background-color: #d0d0d0;
  cursor: not-allowed;
}

.private {
  margin-top: 10px;

  color: #9B9897;
  font-size: 12px;
}

.private a {
  color: #EB4824;
}

.formSuccess {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}




/*---------------------------------------------------------------------------------------------*/
/*                                  MEDIA MIN_WIDTH                                            */
/*---------------------------------------------------------------------------------------------*/

@media (min-width: 480px) {
  .formText, .form, .private, .formTextWant {
    margin: 0 10px 10px;
  }

  .formInput input {
    width: 316px;
  }

  .formButton, .private {
    width: 316px;
  }

}

@media (min-width: 720px) {
  .containerCase{
    border-radius: 30px;

  }

  .formWrapper {
    flex-direction: row;
  }

  .formWrapper h2 {
    font-size: 35px;
  }

  .form {
    margin-top: 40px;
  }

  .formText, .formSuccess {
    margin-left: 30px;
  }

}

@media (min-width: 768px) {
  .container {
    top: -800px;
    border-radius: 30px;
  }
  .containerCase{
    border-radius: 30px;
  }

}

@media (min-width: 1000px) {

  .formWrapper h2 {
    font-size: 52px;
  }

  .form {
    margin-top: 90px;
  }

  .formText span, .formSuccess span {
    display: inline-block;
    width: 386px;
  }

  .formTextWant h2 {
    position: absolute;
  }

  .spanWant {
    margin-top: 80px;
  }

}

@media (min-width: 1200px) {

}

@media (min-width: 1440px) {

}
